{% extends 'base.html.twig' %}
{% block title 'Agence Lorem Ipsum - Projet symfony' %}
{% block body %}
<div class="container mt-4">
  <div class="jumbotron text-center">
    <h1>Agence Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div class="container">
  <h2>Les derniers biens</h2>
  <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <img src="http://placehold.it/200x150" alt="" style="width: 100%; height: auto;">
              <h5 class="card-title">
                <a href="{{path('property.show',{id: property.id, slug: property.slug})}}">{{property.title}}</a>
              </h5>
              <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
              <div class="text-info" style="font-weight:bold; font-size:2rem">
                {{property.formattedPrice}}€
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Projet application symfony</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p>Ceci est un exemple de site d'agence immobilière dans le but d'apprendre à utiliser symfony. <br /> 
                Site réalisé grâce au tutoriel de <a href="https://www.grafikart.fr/" >Grafikart</a>. <br />Playlist des tutoriaux pour symfony:
              <a href="https://www.youtube.com/watch?v=82yVPNwC8cY&list=PLjwdMgw5TTLX7wmorGgfrqI9TcA8nMb29&ab_channel=Grafikart.fr">Ici</a></p>
          </div>   
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">J'ai compris</button>
          </div>       
      </div>
      
  </div>
</div>

{% endblock %}
